ES5.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
    studente: Francesca Parra
    matricola: 545680
    corso: Codifica di testi 2019/2020
-->

<!-- Definire elementi TEI -->

<!ELEMENT TEI (header, facsimile?, text+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT text (#PCDATA)>
